.about {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 9rem;
  line-height: 2;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.links_icon {
  display: flex;
  color: hsl(0, 0%, 66%);
  transition: all 0.3s ease;
}
.links_icon:hover {
  color: #ced4da;
}
