.theme {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  font-size: 3rem;
}
.themes {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.icon {
  font-size: 2rem;

  text-transform: uppercase;
}
.toogle {
  font-size: 1.5rem;
}
.nums {
  display: flex;
  justify-content: space-around;
}
.animation {
  display: inline-block;
  width: 6rem;
  height: 2rem;
  border-radius: 15px;
  position: relative;
  padding-left: 1rem;
  background-color: hsl(223, 31%, 20%);
  transition: all 0.2s ease-in;
}
.position {
  display: block;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: all ease-in-out 0.3s;
}
.position.pos1 {
  left: 10%;
}
.position.pos2 {
  left: 40%;
}
.position.pos3 {
  left: 70%;
}
