*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}
body {
  font-size: 3.2rem;

  background-color: hsl(222, 26%, 31%);
  color: #fff;
}
